.u-section-1 {
  background-image: linear-gradient(#f2f2f2, #ccf3f2);
}

.u-section-1 .u-sheet-1 {
  min-height: 1068px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 50px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1018px;
  pointer-events: auto;
  background-image: linear-gradient(#f2f2f2, #c9fffe);
}

.u-section-1 .u-container-layout-1 {
  padding: 13px 0 0;
}

.u-section-1 .u-text-1 {
  background-image: none;
  width: 277px;
  line-height: 1.6;
  letter-spacing: 5px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 2px;
  margin: 20px 387px 0 432px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 0.875rem;
  background-image: none;
  margin: 23px 473px 0 auto;
  padding: 8px 35px 9px;
}

.u-section-1 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0 432px;
  padding: 8px 35px 9px;
}

.u-section-1 .u-image-1 {
  width: 231px;
  height: 530px;
  margin: 51px 51px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 231px;
  height: 530px;
  margin: -530px auto 0 51px;
}

.u-section-1 .u-image-3 {
  width: 231px;
  height: 530px;
  margin: -530px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 318px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1127px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 839px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 340px;
    margin-left: 332px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 273px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 232px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 66px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 770px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1424px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 230px;
    margin-left: 222px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 53px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 12px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 10px;
    margin-left: 237px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 140px;
    margin-left: 132px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: 20px;
    margin-right: 50px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-right: 50px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-right: 40px;
    margin-left: 19px;
  }
}.u-section-2 {
  background-image: linear-gradient(#c9fffe, #f2f2f2);
}

.u-section-2 .u-sheet-1 {
  min-height: 907px;
}

.u-section-2 .u-text-1 {
  margin: 39px 153px 0 51px;
}

.u-section-2 .u-image-1 {
  width: 485px;
  height: 288px;
  margin: -68px auto 0 51px;
}

.u-section-2 .u-text-2 {
  letter-spacing: 2px;
  font-size: 1rem;
  margin: -220px 47px 0 609px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-3 {
  letter-spacing: 3px;
  margin: -247px 192px 60px 609px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 4px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 456px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 145px;
    margin-left: 456px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 236px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 236px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-left: 56px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 56px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 821px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 202px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -134px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 1px;
    margin-left: 0;
  }
}.u-section-3 {
  background-image: linear-gradient(#f2f2f2, #c9fffe);
}

.u-section-3 .u-sheet-1 {
  min-height: 888px;
}

.u-section-3 .u-text-1 {
  letter-spacing: 5px;
  margin: 62px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 71px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 702px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  height: 295px;
  width: 295px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  letter-spacing: 3px;
  margin: 26px 136px 0 13px;
}

.u-section-3 .u-text-3 {
  letter-spacing: 2px;
  margin: 20px 0 0 13px;
}

.u-section-3 .u-text-4 {
  letter-spacing: 1px;
  margin: 20px 18px 0 13px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 702px;
}

.u-section-3 .u-container-layout-2 {
  padding: 21px 30px 30px;
}

.u-section-3 .u-image-2 {
  width: 294px;
  height: 294px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 10px auto 0;
}

.u-section-3 .u-text-5 {
  letter-spacing: 3px;
  margin: 26px 138px 0 13px;
}

.u-section-3 .u-text-6 {
  letter-spacing: 2px;
  margin: 20px 0 0 13px;
}

.u-section-3 .u-text-7 {
  letter-spacing: 1px;
  margin: 20px 0 0 13px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 702px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 19px 30px 27px;
}

.u-section-3 .u-image-3 {
  width: 294px;
  height: 291px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-3 .u-text-8 {
  letter-spacing: 3px;
  margin: 30px 52px 0 16px;
}

.u-section-3 .u-text-9 {
  letter-spacing: 2px;
  margin: 20px 31px 0 16px;
}

.u-section-3 .u-text-10 {
  letter-spacing: 1px;
  margin: 20px 0 0 15px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 765px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 579px;
  }

  .u-section-3 .u-image-1 {
    width: 253px;
    height: 253px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 124px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 579px;
  }

  .u-section-3 .u-image-2 {
    width: 253px;
    height: 253px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 85px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 579px;
  }

  .u-section-3 .u-image-3 {
    width: 268px;
    height: 265px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 37px;
    margin-left: 13px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 13px;
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 286px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    width: 180px;
    height: 180px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 51px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-image-2 {
    width: 180px;
    height: 180px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 12px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-image-3 {
    width: 195px;
    height: 193px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 386px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }
}