<header class="u-clearfix u-gradient u-header u-header" id="sec-c8ea">
    <div class="u-align-left u-clearfix u-sheet u-sheet-1">
      <h3 class="u-headline u-text u-text-custom-color-6 u-text-1">
        <a href="/">SURFMATE<br>
        </a>
      </h3>
      <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
        <div class="menu-collapse" style="text-transform: uppercase;">
          <a class="u-btn-text u-button-style u-custom-text-color u-custom-text-hover-color u-nav-link" href="#" style="padding: 4px 0px; font-size: calc(1em + 8px);">
            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" style="undefined">
              <use xlink:href="#svg-a760"></use>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-a760" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;" xml:space="preserve" class="u-svg-content">
              <g>
                <rect y="36" width="302" height="30"></rect>
                <rect y="236" width="302" height="30"></rect>
                <rect y="136" width="302" height="30"></rect>
              </g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
            </svg>
          </a>
        </div>
        <div class="u-custom-menu u-nav-container">
          <ul class="u-nav u-spacing-25 u-unstyled u-nav-1">
            <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-custom-color-9 u-text-hover-custom-color-6" href="/">Home</a>
            </li>
            <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-custom-color-9 u-text-hover-custom-color-6" href="/#sec-9bc7" data-page-id="450655">Description</a>
            </li>
            <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-custom-color-9 u-text-hover-custom-color-6" href="/#sec-4657" data-page-id="450655">About</a>
            </li>
          </ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
          <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
            <div class="u-sidenav-overflow">
              <div class="u-menu-close"></div>
              <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html">Home</a>
                </li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html#sec-9bc7" data-page-id="450655">Description</a>
                </li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html#sec-4657" data-page-id="450655">About</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
      </nav>
    </div>
  </header>